<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Config>
    <proyecto></proyecto>
    <desarrollador></desarrollador>
    <repositorio></repositorio>
    <editor></editor>
    <winmerge></winmerge>
    <clearcase></clearcase>
    <vistacc></vistacc>
    <Databases/>
    <PorSubir/>
    <PorCorregir/>
</Config>
